@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --neutral-300: #e1e3e5;
  --neutral-400: #bec1c4;
  --neutral-800: #252728;
  --neutral-500-base: #87898c;
  --primary-green: #0a6629;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Sora, Arial, Helvetica, sans-serif;
}
